<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
			<title>{{ page.title }}</title>
			<meta name="viewport" content="width=device-width">
			{% stylesheet screen %}
	</head>
	<body>
		<article>
			<header>
				<div class="row">
					<div class="small-10 small-offset-1 columns">
						<h1>
							<strong>node.js Mannheim</strong>
							{% image logo.svg %}
						</div>
					</h1>
				</div>
			</header>
			<section>
				<div class="row">
					<div class="panel">
						<p>
						The node.js MeetUp in the Metropolregion Rhein-Neckar. We coordinate on <a href="www.meetup.com/node-js-Mannheim/">meetup.com/node-js-Mannheim</a> and via <a href="https://twitter.com/nodejs_Mannheim">@nodejs_Mannheim</a>.
						</p>
					</div>
				</div>
			</section>
		</article>
	</body>
</html>
